<link rel="stylesheet" href="/pathfinder/css/pathfinder.css">
<script src="/pathfinder/js/pathfinder.js"></script>

<div x-data="alpinePathfinder()" x-init="initPage()">
    <div>
        <h2 x-text="name"></h2>
        <p x-text="description"></p>
    </div>
    <hr>
    <div id="pathfinder-section" class="section-profile">
        <div class="row">
            <div class="column section-border" style="flex:25%;text-align:left;">
                <div class="tab-bar">
                    <button class='selected' onclick="changeInputOptions(event, 'scanSection')">Scan</button>
                    <button onclick="changeInputOptions(event, 'importSection')">Import</button>
                    <button onclick="changeInputOptions(event, 'graphSection')">View</button>
                </div>
                <br>
                <div>
                    <div class="pathfinderSection" id="scanSection">
                        <label for="scannerSelection">Scanner:</label><br>
                        <select id="scannerSelection" onchange="setupScannerSection()">
                            <option value="" disabled selected>Select the scanner to use</option>
                            {% for s in scanners %}
                                <option value="{{ s }}">{{ s }}</option>
                            {% endfor %}}
                        </select>
                        <div id="dynamicScannerSection">
                        </div>
                        <br>
                        <button id="startScan" type="button" class="button-notready atomic-button" style="margin-top:0;"
                                title="Start scan after configuring scanner" onclick="startScan()">Scan</button>
                        <button id="viewFacts" type="button" class="button-notready atomic-button" style="margin-top:0;"
                                title="View facts collected during a scan" onclick="openFacts()">View Facts</button>
                    </div>
                    <div class="pathfinderSection" id="importSection" style="display:none;">
                        <label for="scanInputFormat">Report Format:</label>
                        <select id="scanInputFormat" onchange="validateParser()">
                            <option value="" disabled selected>Select the report format</option>
                            {% for p in input_parsers %}
                                <option value="{{ p }}">{{ p }}</option>
                            {% endfor %}}
                        </select>
                        <input id="fileInput" type="file" name="name" style="display: none;" />
                        <br><br>
                        <button id="startImport" type="button" class="button-notready atomic-button" style="margin-top:0;"
                                title="Import using selected parser" onclick="importScan()">Import</button>
                    </div>
                    <div class="pathfinderSection" id="graphSection" style="display:none;">
                        <label for="vulnerabilityReport">Vulnerability Report:</label>
                        <select id="vulnerabilityReport" onchange="validateFormState(true, '#showGraph');
                        validateFormState(true, '#downloadReport'); validateFormState(true, '#renameReport');
                        validateFormState(true, '#removeReport');">
                            <option value="" disabled selected>Select a report</option>
                            {% for r in vulnerability_reports %}
                                <option value="{{ r.id }}">{{ r.name }}</option>
                            {% endfor %}}
                        </select>
                        <div>
                            <div class='controls'>
                                <div class='setting'>
                                    <label for='link-distance'>Size: <span id='link-distance-value'></span></label>
                                    <br>
                                    <input type='range' min='1' max='100' default='50' id='link-distance'>
                                </div>
                            </div>
                            <div>
                                <label for="graphLegend">Legend:</label>
                                <ul id="graphLegend">
                                    <li><span class="legend_dot" style="background-color:gray"></span>&nbsp&nbsp scanner</li>
                                    <li><span class="legend_dot" style="background-color:deepskyblue"></span>&nbsp&nbsp network host</li>
                                    <li><span class="legend_dot" style="background-color:orangered"></span>&nbsp&nbsp CVE</li>
                                    <li><span class="legend_dot" style="background-color:blue"></span>&nbsp&nbsp open port</li>
                                </ul>
                            </div>
                        </div>
                        <br>
                        <button id="showGraph" type="button" class="button-notready atomic-button"
                                onclick="graphReport()" style="margin-top:0">Graph</button>
                        <br>
                        <div x-data="{ reportMenuOpen: false }" x-on:click.outside="reportMenuOpen = false">
                            <button x-on:click="reportMenuOpen = !reportMenuOpen">
                                Report Options
                            </button>
                            <div x-show="reportMenuOpen">
                                <p> Rename, download, and delete reports from Pathfinder.</p>
                                <label for="newReportName">New Report Name:</label>
                                <input id="newReportName" type="text" name="newReportName" value="" style="width:75%; margin:5px;">
                                <button id="renameReport" type="button" class="button-notready atomic-button"
                                        onclick="renameVulnerabilityReport()" style="margin-top:0">Rename Report</button>
                                <button id="downloadReport" type="button" class="button-notready atomic-button"
                                        onclick="downloadVulnerabilityReport()" style="margin-top:0">Download Report</button><br>
                                <button id="removeReport" type="button" class="button-notready atomic-button"
                                        onclick="removeVulnerabilityReport()" style="margin-top:0">Remove Report</button>
                            </div>
                        </div>
                        <div x-data="{ adversaryMenuOpen: false }" x-on:click.outside="adversaryMenuOpen = false">
                            <button x-on:click="adversaryMenuOpen = !adversaryMenuOpen">
                                Adversary Options
                            </button>
                            <div x-show="adversaryMenuOpen">
                                <p>Create a custom adversary using the source and target nodes specified in the attach graph.</p>
                                <p>Once created, this adversary will appear in the "adversaries" tab.</p>
                                <p>Existing Pathfinder adversaries can be merged by including their name in the "Adversary Merging Tags".</p>
                                <label for="adversaryTags">Adversary Merging Tags:</label>
                                <input id="adversaryTags" type="text" name="adversaryTags" value="" style="width:75%; margin:5px;">
                                <button id="createAdversary" type="button" class="button-notready atomic-button"
                                        x-on:click="createAdversary()" style="margin-top:0">Create Adversary</button>
                                <button id="viewAdversaries" type="button" class="button-notready atomic-button"
                                        x-on:click="addTab('adversaries', '/campaign/profiles')" style="margin-top:0">View Adversaries</button>
                                <button id="setupOperation" type="button" class="button-notready atomic-button"
                                        x-on:click="addTab('operations', '/campaign/operations')" style="margin-top:0">Setup Operation</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column" style="flex:75%">
                <div id="logView">
                    <label for="logWindow">Output</label><br>
                    <textarea id="logWindow" class="column log-box" rows="4" style="height:90%"></textarea>
                </div>
                <div id="graphView" style="display:none;">
                </div>
            </div>
        </div>

    <div id="templateSection" style="display:none">
        <div id="textInputTemplate" style="display:none; margin:5px">
            <label for="textInput">text field:</label><br>
            <input id="textInput" type="text" name="txi1" value="" style="width:75%; margin:5px;">
        </div>
        <div id="pulldownInputTemplate" style="display:none; margin:5px">
            <label for="pulldownInput">pulldown:</label>
            <select id="pulldownInput">
            </select>
        </div>
        <div id="checkboxInputTemplate" style="display:none; margin:5px">
            <input type="checkbox" value="0" onchange="$(this).val(this.checked ? 1 : 0)"><span>checkbox title</span>
        </div>
    </div>

</div>

<script>

function alpinePathfinder() {
    return {
        name: '{{ name }}',
        description: '{{ description }}',
        scanners: '{{ scanners }}',
        input_parsers: '{{ input_parsers }}',
        vulnerability_reports: '{{ vulnerability_reports }}',

        initPage() {
            apiV2('GET', '/api/v2/health').then((response) => {
            }).catch((error) => {
                toast('Error loading page', false);
                console.error(error);
            });
        },
    };
}

//sourceURL=pathfinder.js
</script>
